<section id="{{title}}" class="{{#even-odd @index}}lt-border-radius lt-primary-bg-color img-order-left{{else}}lt-white-bg-color img-order-right{{/even-odd}} lt-section-padding-medium">
	<h2 class="lt-margin-lower">{{title}}</h2>
  {{#if description}}
    <h5 class="type-body-copy cta-desc">{{description}}</h5>
  {{/if}}
  {{#if contact.email}}
	   <h5 class="type-body-copy contact-info">
       <a href="mailto:{{contact.email}}?Subject={{contact.email-subject}}">{{contact.email}}</a>
       {{#if contact.phone}}
          <a href="tel:+1{{contact.phone}}">{{contact.phone}}</a>
       {{/if}}
     </h5>
  {{/if}}
  {{#if cta.title}}
    <a href="{{cta.link}}" target="_blank"><button class="btn btn-bout">{{cta.title}}</button></a>
  {{/if}}
</section>
