    <div class="vid-container lt-border-radius lt-section-padding-large lt-primary-bg-color">
      <div class="row">
        <div class="column-video column iphone-6 small-12">
          <a class="fancybox-media" href="https://vimeo.com/162435518">
            <div class="video video-overlay lt-white-bg-color lt-border-radius-small mobile-collapse" data-imagizer>
              <div class="icon icon-play" data-imagizer="fit">
                <img src="/assets/img/icon/iconVideo.svg"/>
              </div>
              <img class="featured-img lt-border-radius-small" src="/assets/img/video-covers/contentVideoThumbnail.jpg"/>
            </div>
            <caption><h5 class="type-body-copy white">Watch the Launch Content Reel<span class="icon vid mobile-only"></span></h5></caption>
        </div>
        <div class="column-video column iphone-6 small-12">
          <a class="fancybox-media" href="https://vimeo.com/162434785">
            <div class="video video-overlay lt-white-bg-color lt-border-radius-small mobile-collapse" data-imagizer>
              <div class="icon icon-play" data-imagizer="fit">
                <img src="/assets/img/icon/iconVideo.svg"/>
              </div>
              <img class="featured-img lt-border-radius-small" src="/assets/img/video-covers/appDemoVidThumbnail.jpg"/>
            </div>
            <caption><h5 class="type-body-copy white">Watch the Commercial<span class="icon vid mobile-only"></span></h5></caption>
          </a>
        </div>
      </div>
    </div>
