<section id="landing" class="lt-section-padding-large lt-white-bg-color img-order-left">
    <h1 class="logo text-hide hide-for-medium">
      BOUT
    </h1>
    <div class="row feature-set align-center">
      <h2 class="subtitle columns small-12 lt-margin-lower type-header-medium hide-for-medium text-center">A digital hub for all things LGBTQ</h2>
      <div class="content-blurb align-self-middle">
        <h1 class="logo text-hide show-for-medium">
  	      BOUT
  	    </h1>
        <div class="content type-body-copy white">
          <h2 class="type-header-medium show-for-medium logo-subtitle">A digital hub for all things LGBTQ</h2>
    	    <h5 class="type-body-copy black">Available Now</h5>
          <img class="icon icon-appstore-apple lt-inline" src="/assets/img/appstore.png">
        </div>
      </div>
      <div class="phone-gap">
        <div class="iPhone">
          <div class="featured-img" data-imagizer>
            <img src="/assets/img/app-covers/homescreen.png" />
          </div>
        </div>
      </div>
    </div>
</section>
