<section id="app" class="lt-border-radius lt-primary-bg-color img-order-left lt-section-padding-large">
    <div class="row feature-set align-center">
      <h2 class="columns lt-margin-lower hide-for-medium text-center">App</h2>
      <div class="content-blurb align-self-middle">
        <h2 class="lt-margin-lower show-for-medium">App</h2>
        <div class="type-body-copy white">
          <p>Check out our great original content, see what everyone’s talking about in the Discussions, check out our unique features and see who’s on B • OUT and what they’re up to.</p>
          <p class="type-header-small bold white">Try B • OUT Premium for 30 days free</p>
        </div>
        <a href="app.html"><button class="btn btn-bout">Learn More</button></a>
      </div>
      <div class="phone-gap">
        <div class="iPhone">
          <div class="featured-img" data-imagizer>
            <img src="/assets/img/app-covers/people.png" />
          </div>
        </div>
      </div>
    </div>
</section>
