 <header class="bg-primary white desktop">
  <div class="container">
    <div class="header row">
      <div class="column small-1 logo hide">
        <a href="index.html"><div id="logo"></div></a>
      </div>
      <div class="column small-12">
        <nav>
          <ul class="row align-center">
            <div class="nav-column expand nav-left">
              <li><a href="about.html">About</a></li>
              <li><a href="app.html">App</a></li>
            </div>
            <div class="nav-column-logo shrink">
              <li id="logo-container">
                <a href="index.html"><div id="logo"></div></a>
              </li>
            </div>
            <div class="nav-column expand nav-right">
              <li><a href="contact.html">Contact</a></li>
              <li><a href="https://appsto.re/us/xZw19.i">Download</a></li>
            </div>
          </ul>
        </nav>
      </div>
      <div class="column small-1 hide">
        <div id="ellipses">
          <div class="dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-mask show-for-iphone"></div>
