footer .social .container {display: flex;}
footer .social a {background-position-x: -0px; height: 120px; width: 120px; margin: 30px auto; justify-content:center;}

div.mailing {margin: 100px 0;}
	.mailing input {min-width: 300px;}

div.legalities {height: 75px; border-radius: 50px; position: relative; font-size: 18px;}
	.legalities p {margin: 25px 0 0;}

footer .mask {position: absolute; height: 40px; bottom: 0; width: 100%; z-index: -1;}
