<footer class="">
  {{#compare page "index" operator="=="}}
  <div class="social lt-section-padding-medium lt-white-bg-color">
    <div class="row align-center">
      <div class="column expand align-self-center">
        <a id="facebook" href="https://www.facebook.com/boutapp/" target="_blank"></a>
        <a id="twitter" href="https://twitter.com/Bout_App" target="_blank"></a>
        <a id="instagram" href="https://www.instagram.com/boutapp/" target="_blank"></a>
        <a id="linkedin" href="https://www.linkedin.com/company/b-%E2%80%A2-out?trk=top_nav_home" target="_blank"></a>
      </div>
    </div>
  </div>
  {{/compare}}
  <div class="legalities lt-primary-bg-color lt-border-folio white lt-border-shadow-up {{#if index}}lt-pull-up{{/if}}">
    <div class="row align-middle">
      <div class="column align-self-middle type-body-copy white">
        <p><a href="{{root}}legal/terms-of-service.html">Terms and Conditions</a></p>
        <p><a href="{{root}}legal/privacy-policy.html">Privacy Policy</a></p>
        <p>Copyright @ 2016 B • OUT Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
