<footer class="">
  {{#compare page "index" operator="=="}}
  <div class="social lt-section-padding-medium lt-white-bg-color">
    <div class="row align-center">
      <div class="column expand align-self-center">
        <a id="linkedin"></a>
        <a id="facebook"></a>
        <a id="twitter"></a>
        <a id="instagram"></a>
      </div>
    </div>
  </div>
  {{/compare}}
  <div class="legalities lt-primary-bg-color lt-border-folio white lt-border-shadow-up {{#if index}}lt-pull-up{{/if}}">
    <div class="row">
      <div class="column align-self-middle type-body-copy white">
        <p>Copyright @ 2016 B • OUT Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
