
.button {

  &.primary {
    background-color: $secondary-color;
    color: $white;
    @include font-size(map-get(map-get($header-sizes, medium), h4));
    font: {
      family: $body-alternate-font;
      weight: 700;
    }
    height: 3.25rem;
    width: auto;
    min-width: 11.25rem;
    margin: 0;

    &:hover,
    &:focus,
    &:active {
      background-color: lighten($secondary-color, 35);
      border-color: darken($secondary-color, 20);
      color: $secondary-color;
    }
  }
}
