section#landing h2 {margin: 50px 0;}

.vid-container {
	margin: 40px auto 0;

	@include breakpoint(iphone down) {
		padding-top: 4rem !important;
		padding-bottom: 4rem !important;
	}

	&>.row {
		@include breakpoint(iphone down) {
			@include flex-grid-row-align(center, null);
		}
	}

	.column.column-video {
		@include flex-grid-column(50%, 80px);

		@include breakpoint(medium down) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		@include breakpoint(iphone down) {
			@include flex-grid-column(12, 140px);
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:first-child {
			.video, video, h5 {
				float: right;
			}
		}

		&:last-child {
			.video, video, h5 {
				float: left;
			}
		}


		h5 {
			clear: both;
			width: 320px;

			@include breakpoint(iphone down) {
				width: 100%;
			}
		}
	}

	video, .video {
		width: 320px;
		height: 180px;
		display: block;
		margin: 0 auto 10px;

		@include breakpoint(iphone down) {
			float: none !important;
		}

		@include breakpoint(420px down) {
			width: auto;
		}
	}

	.video {
		&-overlay {
			position: relative;

			.featured-img {
				margin: 0;
				padding: 2px;
			}
		}
	}
}

.container-full { /* Defines layout for paragraph items such as Mission descriptive text and About descriptive text */
	@include flex-grid-row();
	width: 820px;

	@include breakpoint(medium only) {
		width: 700px;
	}

	@include breakpoint(iphone only) {
		width: 540px;
	}

	@include breakpoint(small down) {
		width: 420px;
	}

	@include breakpoint(420px down) {
		width: auto;
	}
}

#landing {
	.feature-set {
		.logo {
			@include breakpoint(iphone down) {
				order: 1 !important;
			}
		}

		.subtitle {
			@include breakpoint(iphone down) {
				order: 2 !important;
			}
		}

		.phone-gap {
			@include breakpoint(iphone down) {
				order: 4 !important;
			}
		}

		.content-blurb {
			@include breakpoint(iphone down) {
				order: 3 !important;
			}
			.logo-subtitle {
				font-size: 1.5rem;
			}
			.content {
				@include breakpoint(iphone down) {
					margin-bottom: 50px;
				}
			}
		}
	}
}


/* ---- MISSION ---- */
#mission .thumbnail {margin: 20px 0; border: none;}


/* ---- CONTRIBUTORS ---- */
.profileList>div {}

span.arrow {
	background-image: url(../img/arrows.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 30px;
	display: block;
	position: relative;
	cursor: pointer;

	@include breakpoint(iphone down) {
		margin-top: 0;
	}
}

span.arrow.left {}
span.arrow.right {background-position: -30px 0;}

.arrow {
	&-wrap {
	}
}

.profileList {

	@include breakpoint(iphone down) {
		padding:0;
	}
}

div.facial.profile {
	margin: 0 auto;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	//border: 4px solid;
}
div.name h4 {
	font-weight: 100;
	font-size: 22px;

	@include breakpoint(iphone down) {
		margin: 0 auto;
		font-size: 20px;
	}
}
