<div class="column medium-expand small-12">
  <div class="row align-center">
    <div class="column shrink align-self-middle hide-for-medium"><span class="left arrow"></span></div>
    <div class="column shrink small-10 text-center align-self-middle">
      <div class="facial profile">
        <img/>
      </div>
    </div>
    <div class="column shrink align-self-middle hide-for-medium"><span class="right arrow"></span></div>
    <div class="column iphone-expand small-12">
      <div class="content profile text-left">
        <div class="name row column text-center medium-text-left">
          <h4>Aaron Baideme - Technical Editor</h4>
        </div>
        <div class="row column text-center medium-text-left">
          <p>
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
