<section id="team" class="lt-section-padding-large lt-border-folio lt-white-bg-color">
  <div class="row">
    <h1 class="columns small-12 text-center lt-margin-lower">Featured Contributors</h1>
    <div class="content columns small-12">
      <div class="row profileList lt-section-padding-medium">
        <div class="arrow-wrap columns shrink align-self-middle show-for-medium"><span class="left arrow"></span></div>

        {{#repeat 1}}
          {{> team-member}}
        {{/repeat}}

        <div class="arrow-wrap columns shrink align-self-middle show-for-medium"><span class="right arrow"></span></div>
      </div>
    </div>
  </div>
</section>
