footer .social .container {display: flex;}
footer .social a {
	background-position-x: -120px;
	height: 120px;
	width: 120px;
	margin: 0 50px;
	justify-content:center;
	display: inline-block;

	@include breakpoint(medium down) {
		width: 100px;
		height: 100px;
		background-size: 200%;
		margin: 0 32px;
		background-position-x: -100px;
	}

	@include breakpoint(540px down) {
		width: 50px;
		height: 50px;
		background-position-x: -50px;
	}

	@include breakpoint(iphone only) {
		margin: 0 25px;
	}

	@include breakpoint(small only) {
		margin: 0 12px;
	}

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

/* ---- SOCIAL ---- */
.social a {background-image: url(../img/social_icons.png); background-repeat: no-repeat;}
	a#linkedin {
		background-position-y: 0;
	}
	a#facebook {
		background-position-y: -120px;

		@include breakpoint(medium down) {
			background-position-y: -100px;
		}

		@include breakpoint(540px down) {
			background-position-y: -50px;
		}

	}

	a#twitter {
		background-position-y: -240px;

		@include breakpoint(medium down) {
			background-position-y: -200px;
		}

		@include breakpoint(540px down) {
			background-position-y: -100px
		}

	}

	a#instagram {
		background-position-y: -360px;

		@include breakpoint(medium down) {
			background-position-y: -300px;
		}

		@include breakpoint(540px down) {
			background-position-y: -150px
		}

	}

	a#web {
		background-position-y: -480px;

		@include breakpoint(medium down) {
			background-position-y: -400px;
		}

		@include breakpoint(540px down) {
			background-position-y: -200px
		}
	}


div.mailing {margin: 100px 0;}
	.mailing input {min-width: 300px;}

div.legalities {
	height: 84px;
	position: relative;
	font-size: 18px;

	@include breakpoint(small only) {
		display: none;
	}
}
	.legalities p {margin: 25px 0 0;}

footer .mask {position: absolute; height: 40px; bottom: 0; width: 100%; z-index: -1;}
