[data-imagizer] {
    img {
        object-fit: cover;
        font-family: 'object-fit: cover';
        width:100% !important;
        height:100% !important;
    }
}
[data-imagizer="fit"] {
    img {
        object-fit: contain;
        font-family: 'object-fit: contain';
    }
}

// Generic layout classes
$module: '.icon';
#{$module} {
  &-play {
    height: 42px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    text-align: center;

    @include breakpoint(420px down) {
      height: 26px;
      margin-top: -13px;
    }
  }
}
