.img-order {
	&-left {
		.feature-set {
			.phone-gap {
				order: 1;

				.iPhone {
					float: right;
				}
			}
			.content-blurb {
				order: 2;
			}
		}
	}

	&-right {
		.feature-set {
			.phone-gap {
				order: 2;

				.iPhone {
					float: right;
				}
			}
			.content-blurb {
				order: 1;
			}
		}
	}
}

.feature-set {
	.phone-gap {
		@include flex-grid-column(shrink, 50px);

		@include breakpoint(iphone down)
		{
			@include flex-grid-column(12);
			order: 1 !important;

			.iPhone {
				float: none !important;
				margin: 0 auto 3.125rem;
			}
		}
	}

	.content-blurb {
		@include flex-grid-column(null, 20px);

		@include breakpoint(iphone down) {
			@include flex-grid-column(12);
			order: 2 !important;

			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}
}

.feature-summary {
	.content-block {
		width: 740px;

		@include breakpoint(iphone down) {
			width: 500px;
		}

		@include breakpoint(500px down) {
			width: auto;
		}
	}
}
