.team {
  &-blocks {
    .name {
      h4 {
        margin: 10px auto 4px;
        font-weight: 600;

        @include breakpoint(iphone down) {
            margin-bottom: 1rem;
        }
      }
    }
    .bio {
      p {
        width: 264px;
        margin: 0 auto;

        @include breakpoint(iphone down) {
          width: auto;
        }
      }
    }
  }

  &-details {
    .wrapper {
      @include flex-grid-row ();
      width: 750px;

      @include breakpoint (medium down);
      width: 600px;
    }
    .avatar {
      @include breakpoint(medium up) {
        padding-right: .5rem !important;
      }
      &-content {
        @include breakpoint(medium up) {
          padding-left: .5rem !important;
        }
      }
    }
    .name {
      h4 {
        margin: 0 auto;
      }
      @include breakpoint(iphone down) {
        @include lt-section-padding(small);
      }
    }

    .social-connect-container {
      @include flex-align(left, null);

      @include breakpoint(medium up) {
        @include lt-section-padding(small);
      }

      @include breakpoint(iphone down) {
        @include flex-align(center, null)
      }
    }

    .desc {
      @include breakpoint(iphone down) {
        @include lt-section-padding(small);
      }

      @include breakpoint(iphone down) {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
      }
    }
  }
}
