<!-- This defines layout for Contibutors section on the About page -->

<div class="column large-4 medium-6 small-6 lt-section-padding-medium team-blocks">
  <div class="row align-center">
    <div class="column small-12 text-center align-self-top">
      <div class="facial profile">
        <img src="/assets/img/avatar/{{img}}" />
      </div>
    </div>
    <div class="column small-12">
      <div class="content profile text-center">
        <div class="name row column text-center">
          <h4>{{name}}</h4>
          <h5>{{title}}</h5>
        </div>
        {{#if social}}
        <div class="social-connect-container row text-center lt-section-padding-small social-{{socialColor}}">
          {{#each social}}
            <div class="column small-12">
              <a class="{{type}} social-link white" href="{{link}}" target="_blank"><img src="/assets/img/icon/{{type}}/whiteSmall.svg"/></a>
              <a class="{{type}} social-link blue" href="{{link}}" target="_blank"><img src="/assets/img/icon/{{type}}/blueSmall.svg"/></a>
            </div>
          {{/each}}
        </div>
        {{/if}}
        {{#compare kind "short" operator="!="}}
        <div class="bio row column text-center">
          <p>
            {{shortbio}}
          </p>
        </div>
        {{/compare}}
      </div>
    </div>
  </div>
</div>
