<!-- This defines layout for Founders section on the About page -->

<div class="column small-12 lt-section-padding-medium team-details">
  <div class="wrapper">
    <div class="avatar column shrink small-10 text-center align-self-top">
      <div class="facial profile">
        <img src="/assets/img/avatar/{{img}}" />
      </div>
    </div>
    <div class="avatar-content column medium-expand small-12">
      <div class="content profile text-left">
        <div class="name row column text-center medium-text-left">
          <h4>{{name}} • {{title}}</h4>
        </div>
        {{#if social}}
        <div class="social-connect-container row">
          {{#each social}}
            <div class="column shrink">
              <a class="{{type}} social-link" href="{{link}}" target="_blank"><img src="/assets/img/icon/{{type}}/whiteSmall.svg"/></a>
            </div>
          {{/each}}
        </div>
        {{/if}}
        <div class="desc">
          <p>
            {{description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
