<section id="about" class="lt-section-padding-large lt-white-bg-color lt-border-folio">
  <div class="row">
    <div class="column small-12">
      <h1 class="type-header-xlarge lt-margin-lower-large">About</h1>
      <Div class="row align-center">
        <div class="content columns small-11 medium-10 large-8 text-justify type-body-copy">
          <p>B • OUT aims to provide the LGBTQ community with a safe, welcoming, collaborative platform where every LGBTQ individual can be themselves, and be part of a community.</p>

          <p>Our goal is to build and foster a community that gives us the space to meet people, speak our minds with confidence -- safely -- and have lots of fun.  We can organize, debate, commiserate, and make change. At the center of any movement is the burning desire to bring about change. It comes down to people, shared experiences, and a common ambition. We need one another for leadership, support, and inspiration. And to laugh. We accept and encourage all points of view from within the LGBTQ community as long as they are not offensive.</p>

          <p><a href="/assets/resources/B • OUT Community Guidelines.pdf" target="_blank" download>Click here to read our Community Guidelines ></a></p>
        </div>
      </Div>
    </div>
  </div>
</section>
